<template>
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column">
                    <div class="terminal">
                        <ul>
                            <li v-for="(line, index) in $root.consoleoutput" :key="index">>{{ line }}</li>
                        </ul>
                    </div>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'console',
};
</script>

<style scoped>
.terminal {
    background-color: #353535;
    color: #fafafa;
    text-align: left;
    min-height: 20px;
}
</style>
