<template>
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-4"></div>
                <div class="column is-4">
                    <div class="columns">
                        <div class="section">
                            <h1 class="title" style="color:#fafafa">Select Credentials</h1>
                            <input type="file" id="fileInput" />
                        </div>
                        <div class="section">
                            <button class="button is-info" @click="$router.push('register')">Create Credentials</button>
                        </div>


                    </div>

                </div>
                <div class="column is-4">
                </div>

                <div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'login',
    mounted() {
        let fileInput = document.getElementById('fileInput');

        fileInput.addEventListener('change', () => {
            let file = fileInput.files[0];

            let reader = new FileReader();
            reader.onload = () => {
                let userCreds = JSON.parse(reader.result);
                this.$root.fullname = userCreds.fullname;
                this.$root.apiKey = userCreds.apiKey;
                this.$root.secretKey = userCreds.secretKey;
                this.$root.registerBinanceClient();
            };
            reader.readAsText(file);
        });
    },
    data() {
        return {
            message: '',
            creds: {
                apiKey: '',
                secretKey: '',
                fullname: '',
            },
        };
    },
    methods: {
        downloadit() {
            let data = new Blob([JSON.stringify(this.creds)], { type: 'application/json' });
            let url = window.URL.createObjectURL(data);
            let link = document.createElement('a');
            link.href = url;
            link.download = 'TurboTraderCredentials.json';
            let e = document.createEvent('MouseEvents');
            e.initEvent('click', true, true);
            link.dispatchEvent(e);
        },

        login() {
            let file = document.querySelector('#file-input').files[0];
            let reader = new FileReader();
            reader.addEventListener('load', function (e) {
                let text = e.target.result;
                document.querySelector('#file-contents').textContent = text;
            });
            reader.readAsText(file);
            console.log(file.files);
        },
        startup() {
            if (this.$root.apiKey !== '' && this.$root.secretKey !== '') {
                console.log('requesting api connection with ' + this.$root.apiKey);
                this.$root.registerBinanceClient();
            } else {
                this.message = 'please enter api credentials';
            }
        },
    },
};
</script>

<style scoped>
.input-padder {
    padding: 20px;
}
</style>
