<template>
    <div class="section" :style="backgroundStyle">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <div class="section">
                        <h1 class="title">Turbo Trader</h1>
                    </div>
                    <div class="section columns" v-if="$root.tradeActive">
                        <div class="column is-6">
                            <table>
                                <tr>
                                    <th>Point</th>
                                    <th>Price</th>
                                    <th>Multiplier</th>
                                </tr>
                                <tr>
                                    <td>Target:</td>
                                    <td>{{$root.targetPrice}}</td>
                                    <td>{{multiplierdPrices.targetPrice}}</td>
                                </tr>
                                <tr>
                                    <td>Current:</td>
                                    <td>{{$root.chosenCoinPrice}}</td>
                                    <td>{{multiplierdPrices.chosenCoinPrice}}</td>
                                </tr>
                                <tr>
                                    <td>Bail Trigger Price:</td>
                                    <td>{{$root.bailTriggerPrice}}</td>
                                    <td>{{multiplierdPrices.bailTriggerPrice}}</td>
                                </tr>
                                <tr>
                                    <td>Bail order Price:</td>
                                    <td>{{$root.bailPrice}}</td>
                                    <td>{{multiplierdPrices.bailPrice}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="column is-3">
                            <stopwatch-ticker style="padding-top:55px;" v-if="$root.tradeActive"/>
                        </div>
                        <div class="column is-3">
                            <button class="button"  style="margin-top:55px;" @click="bail" v-if="$root.tradeActive">Bail</button>
                        </div>

                    </div>
                    <div class="columns" v-if="!$root.tradeActive">
                        <div class="column">
                            <h1 class="subtitle">Balance:</h1>
                            <div class="field has-addons">
                                <p class="control">
                                    <input class="input is-info" type="text" :value="$root.bitcoinBalance" readonly />
                                </p>
                                <p class="control">
                                    <a class="button is-static is-info"> BTC </a>
                                </p>
                            </div>
                        </div>
                        <div class="column">
                            <h1 class="subtitle">Buy Multiplier</h1>
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="number" min="1" max="30" step="0.1" v-model="desiredBuyMultiplier" />
                                </p>
                            </div>
                        </div>
                        <div class="column">
                            <h1 class="subtitle">Sell Multiplier</h1>
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="number" min="1" max="30" step="0.1" v-model="desiredSellMultiplier" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="columns section" v-if="!$root.tradeActive">
                        <div class="column">
                            <h1 class="subtitle">Stopwatch</h1>
                            <div class="field has-addons">
                                <p class="control">
                                    <input class="input is-info" type="number" max="30000" min="0" step="1" v-model="stopwatch" />
                                </p>
                                <p class="control">
                                    <a class="button is-static is-info"> ms </a>
                                </p>
                            </div>
                        </div>
                        <div class="column">
                            <h1 class="subtitle">Bail Trigger Price</h1>
                            <div class="field has-addons">
                                <p class="control">
                                    <input class="input is-info" type="number" max="1" min="0.1" step="0.01" v-model="triggerPoint" />
                                </p>
                            </div>
                        </div>
                        <div class="column">
                            <h1 class="subtitle">Bail Multiplier</h1>
                            <div class="field has-addons">
                                <p class="control">
                                    <input class="input is-info" type="number" max="10" min="0.1" step="0.01" v-model="bailMultiplier" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="columns"  v-if="!$root.tradeActive">
                        <div class="column">
                            <button class="button is-warning is-large" @click="disarm">Disarm</button>
                        </div>
                        <div class="column">
                            <button class="button is-danger is-large" @click="arm">Arm</button>
                        </div>
                        <div class="column">
                            <button class="button is-info is-large" @click="syncData">Sync Prefs</button>
                        </div>
                    </div>
                    <div class="columns"  v-if="!$root.tradeActive">
                        <table class="table is-fullwidth is-bordered">

                                <tr>
                                    <th>Connected:</th>
                                    <th>Armed:</th>
                                    <th>Buy Multiplier</th>
                                    <th>Sell Multiplier</th>
                                </tr>

                                <tr>
                                    <td :stlye="connectionStatusStyle">{{ connectionStatus }}</td>
                                    <td :style="armedStatusClass">{{ armedStatusText }}</td>
                                    <td>{{ $root.buyMultiplier }}</td>
                                    <td>{{ $root.sellMultiplier }}</td>
                                </tr>

                            <tr>
                                <th>stopwatch</th>
                                <th>Bail trigger</th>
                                <th>Bail Multiplier</th>
                            </tr>
                            <tr>
                                <th>{{ $root.stopwatch }}</th>
                                <th>{{ $root.triggerPoint }}</th>
                                <th>{{  $root.bailMultiplier }}</th>
                            </tr>

                        </table>
                    </div>
                    <button class="button" @click="$root.consoleoutput = []" v-if="!$root.tradeActive">Clear Console</button>
                </div>
                <div class="is-6">
                    <div class="terminal" id="terminal">
                        <ul>
                            <li v-for="(line, index) in $root.consoleoutput" :key="index">{{ line }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <disconnected-modal v-if="!$root.socket.connected" />
    </div>
</template>

<script>
import DisconnectedModal from '@/components/disconnectedModal';
import StopwatchTicker from "@/components/stopwatchTicker";
export default {
    name: 'multiplier',
    components: {StopwatchTicker, DisconnectedModal },
    mounted() {
        this.$root.consoleScroller = this.scrollToBottom;
        if (!this.$root.registered) {
            this.$router.push('/');
        }
    },
    computed: {
        multiplierdPrices(){
            return {
                chosenCoinPrice: (Math.round((this.$root.chosenCoinPrice / this.$root.oneTimesPrice)*100000000)/100000000),
                targetPrice: (Math.round((this.$root.targetPrice / this.$root.oneTimesPrice)*100000000)/100000000),
                bailTriggerPrice: (Math.round((this.$root.bailTriggerPrice / this.$root.oneTimesPrice)*100000000)/100000000),
                bailPrice: (Math.round((this.$root.bailPrice / this.$root.oneTimesPrice)*100000000)/100000000),
            }
        },


        backgroundStyle() {
            if (this.desiredSellMultiplier == this.$root.sellMultiplier && this.desiredBuyMultiplier == this.$root.buyMultiplier) {
                return '';
            } else {
                return 'background-color:darkred';
            }
        },
        armedStatusClass() {
            if (this.$root.armed) {
                return `background-color:red;`;
            } else {
                return `background-color:orange;`;
            }
        },
        armedStatusText() {
            if (this.$root.armed) {
                return 'Armed';
            } else {
                return 'Disarmed';
            }
        },
        connectionStatus() {
            if (this.$root.socket.connected) {
                return 'Connected';
            } else {
                return 'Disconnected';
            }
        },
        connectionStatusStyle() {
            if (this.$root.socket.connected) {
                return 'background-color:green;';
            } else {
                return 'background-color:red;';
            }
        },
    },
    data() {
        return {
            desiredBuyMultiplier: 1.5,
            desiredSellMultiplier: 2.5,
            stopwatch:0,
            triggerPoint:0.95,
            bailMultiplier:1,
        };
    },
    methods: {
        arm() {

            this.$root.socket.emit('armedStatus', true, () => {
                this.$root.armed = true;
            });
        },
        disarm() {
            this.$root.socket.emit('armedStatus', false, () => {
                this.$root.armed = false;
            });
        },

        bail(){
            this.$root.socket.emit('gtfo');
        },


        syncData(){
            let payload = {
                armed:this.$root.armed,
                buyMultiplier:this.desiredBuyMultiplier,
                sellMultiplier:this.desiredSellMultiplier,
                stopwatch:this.stopwatch,
                bailPriceMultiplier:this.bailMultiplier,
                bailTriggerPercent:this.triggerPoint,
            }
            this.$root.socket.emit('setPrefs',payload);
        },
        scrollToBottom() {
            let terminal = document.getElementById('terminal');
            if (terminal) {
                terminal.scrollTop = terminal.scrollHeight;
            }
        },
    },
};
</script>

<style scoped>
.subtitle,
.title {
    color: #fafafa;
}
.table {
    font-size: 20px;
}
.terminal {
    background-color: #101010;
    color: #fafafa;
    text-align: left;
    height: 85vh;
    width: 45vw;
    overflow-y: scroll;
}
</style>
