<template>
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-4"></div>
                <div class="column is-4">
                    <div class="input-padder">
                        <input class="input is-primary" type="text" placeholder="name" v-model="creds.fullname" />
                    </div>
                    <div class="input-padder">
                        <input class="input is-primary" type="text" placeholder="API Key" v-model="creds.apiKey" />
                    </div>
                    <div class="input-padder">
                        <input class="input is-primary" type="text" placeholder="API Secret" v-model="creds.secretKey" />
                    </div>
                    <button class="button is-info" @click="downloadit">Create Credentials</button>
                    <div class="input-padder">
                        <div class="notification is-warning" v-if="message !== ''">
                            <button class="delete" @click="message = ''"></button>
                            {{ message }}
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                </div>

                <div>
<!--                    login:
                    <input type="file" id="fileInput" />-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'register',
    mounted() {
        let fileInput = document.getElementById('fileInput');

        fileInput.addEventListener('change', () => {
            let file = fileInput.files[0];

            let reader = new FileReader();
            reader.onload = () => {
                let userCreds = JSON.parse(reader.result);
                this.$root.fullname = userCreds.fullname;
                this.$root.apiKey = userCreds.apiKey;
                this.$root.secretKey = userCreds.secretKey;
                this.$root.registerBinanceClient();
            };
            reader.readAsText(file);
        });
    },
    data() {
        return {
            message: '',
            creds: {
                apiKey: '',
                secretKey: '',
                fullname: '',
            },
        };
    },
    methods: {
        downloadit() {
            let data = new Blob([JSON.stringify(this.creds)], { type: 'application/json' });
            let url = window.URL.createObjectURL(data);
            let link = document.createElement('a');
            link.href = url;
            link.download = 'TurboTraderCredentials.json';
            let e = document.createEvent('MouseEvents');
            e.initEvent('click', true, true);
            link.dispatchEvent(e);
        },

        login() {
            let file = document.querySelector('#file-input').files[0];
            let reader = new FileReader();
            reader.addEventListener('load', function (e) {
                let text = e.target.result;
                document.querySelector('#file-contents').textContent = text;
            });
            reader.readAsText(file);
            console.log(file.files);
        },
        startup() {
            if (this.$root.apiKey !== '' && this.$root.secretKey !== '') {
                console.log('requesting api connection with ' + this.$root.apiKey);
                this.$root.registerBinanceClient();
            } else {
                this.message = 'please enter api credentials';
            }
        },
    },
};
</script>

<style scoped>
.input-padder {
    padding: 20px;
}
</style>
