<template>
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <h1 class="title">DISCONNECTED FROM WEBSOCKETS</h1>
            </div>
        </div>
    </div>
</template>

<script>
export default {
name: "disconnectedModal"
}
</script>

<style scoped>

</style>