<template>
    <div class="stopwatch">
        {{ time }}
    </div>
</template>

<script>
export default {
    name: 'stopwatchTicker',
    mounted() {
        setInterval(() => {
            let theDelta = Date.now() - this.$root.lastHighTime;
            let millis = (theDelta % 1000).toString().padStart(3,'0');
            let seconds = Math.floor(theDelta / 1000);
            this.time = `${seconds}:${millis}`;
        }, 33);
    },
    data() {
        return {
            start: 0,
            time: 0,
        };
    },
};
</script>

<style scoped>
.stopwatch{
    font-weight: bolder;
    font-size: 20px;
}
</style>
