<template>
    <div id="app">
        <RouterView />
    </div>
</template>

<script>
export default {
    name: 'App',
    components: {},
};
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #353535;
    min-height: 100vh;
    color: #fafafa;
}
</style>
